@{
Layout=null;
}
<style>
    body{
        background:black;
        margin:0;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a:hover{
        color:blue;
        font-size:30px;
    }
</style>
    <img src="~/gif/accessDenied.gif" 
         style="position:fixed; z-index:-1;" 
         width="100%" height="100%" />
    <div style="position:fixed;left:0;top:10px;">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index"
           ><span class="fa-solid fa-tent-arrow-turn-left"></span> Beni anasayfaya gotur</a>
    </div>
    <div style="display:flex; justify-content:center;align-items:center">
        <div style="text-align:center;">
            <h1 style="color:black;font-size:50px;">403</h1>
            <h2 style="color:black;">Erisim Engellendi</h2>
        </div>      
    </div>

    <script src="https://kit.fontawesome.com/5d6e25e9b6.js" crossorigin="anonymous"></script>

