@model Mvc.Areas.Admin.Models.TopbarViewModel
@{ 
}
<div class="dropdown navbar-nav ml-auto ml-md-0">
    <div class="nav-item">
        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="~/img/@Model.User.UserPicture" width="40px" class="rounded-circle" /> 
        </a>

    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangeDetail">Profil Düzenle</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="PasswordChange">Şifre Değiştir</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" asp-area="Identity" asp-controller="Logout" asp-action="Logout">Çıkış Yap</a></li>
    </ul>
    </div>
    
</div>