@{
    Layout = "_userLoginLayout";
    ViewBag.Title = "E-Posta Dogrulama";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">E-Posta Dogrulama</h3></div>
                <div class="card-body text-center">
                    <p class="text-center">Lutfen e-posta adresinize gelen dogrulama linkine tiklayiniz</p>
                </div>
            </div>
        </div>
    </div>
</div>

