<nav id="leftNav" class="nav">
    <div class="w-100 align-items-center">
        <ul id="lefUl" class=" list-unstyled w-100">
            <li class="text-center w-100">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="fa-solid fa-house fs-1 bg-transparent w-100 d-flex justify-content-center flex-wrap p-3 border-0">
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="text-center w-100">
                <a asp-area="Admin" asp-controller="Article" asp-action="Index" class="fa-solid fa-book-open fs-1 bg-transparent w-100 d-flex justify-content-center flex-wrap p-3 border-0">
                    <p>Makaleler</p>
                </a>
            </li>
            <li class="text-center w-100">
                <a asp-area="Admin" asp-controller="User" asp-action="Index" class="fa-solid fa-users fs-1 bg-transparent w-100 d-flex justify-content-center flex-wrap p-3 border-0">
                    <p>Kullanicilar</p>
                </a>
            </li>
            <li class="text-center w-100 ">
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="fa-solid fa-shapes fs-1 bg-transparent w-100 d-flex justify-content-center flex-wrap p-3 border-0">
                    <p>Kategoriler</p>
                </a>
            </li>
        </ul>
    </div>
</nav>