@model Entities.Dtos.CategoryAddDto
@*modal*@
<div id="modaladd" class="d-flex justify-content-center align-items-center  position-fixed d-none">
    <div style="width: 400px; height: 200px;" class="bg-light rounded-3">
        <div class="w-100 border-bottom p-3">
            <h3 class="w-100 text-center"><span class="fas fa-plus"></span>Kategori Ekle</h3>
        </div>
        <form asp-action="Add" id="formCategoryAdd" class="form-control w-100">
            <input type="hidde" name="isValid" value="@ViewData.ModelState.IsValid.ToString()" />
            <div asp-validation-summary="All" class="text-danger d-none" id="validationSummary" aria-hidden="true" ></div>
            <div class="card-body p-2 w-100">
                <input asp-for="Name" type="text" class="w-100 rounded-3" placeholder="Kategori adi giriniz" minlength="1">
            </div>
            <div class="card-body mx-3 form-check">
                <input asp-for="isActive" type="checkbox" checked>
                <label asp-for="isActive">Aktiflik</label>
            </div>
            <div class="position-absolute bottom-0 end-0 mb-3 me-3">
                <button id="kaydet" class="btn btn-primary">Ekle</button>
                <button id="kapat" class="btn btn-secondary">Kapat</button>
            </div>
        </form>
    </div>
</div>
@*modal*@

<div id="modalupdate" class="d-flex justify-content-center align-items-center  position-fixed d-none">
    <div style="width: 400px; height: 200px;" class="bg-light rounded-3">
        <div class="w-100 border-bottom p-3">
            <h3 class="w-100 text-center">Kategori Duzenle</h3>
        </div>
        <div class="card-body p-2 w-100">
            <input type="text" class="w-100 rounded-3" placeholder="Kategori adi giriniz" minlength="1">
        </div>
        <div class="card-body mx-3">
            <input type="checkbox">
            <label for="">Aktiflik</label>
        </div>
        <div class="card-body mx-3">
            <input type="checkbox">
            <label for="">Silinmis</label>
        </div>
        <div class="position-absolute bottom-0 end-0 mb-3 me-3">
            <button id="kaydet" class="btn btn-primary">Guncelle</button>
            <button id="kapat" class="btn btn-secondary">Kapat</button>
        </div>
    </div>
</div>
